<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>热门歌手</string>
			<key>sex</key>
			<integer>0</integer>
			<key>area</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>华语男歌手</string>
			<key>sex</key>
			<integer>1</integer>
			<key>area</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>华语女歌手</string>
			<key>sex</key>
			<integer>2</integer>
			<key>area</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>华语乐队/组合</string>
			<key>sex</key>
			<integer>3</integer>
			<key>area</key>
			<integer>6</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>欧美男歌手</string>
			<key>sex</key>
			<integer>1</integer>
			<key>area</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>欧美女歌手</string>
			<key>sex</key>
			<integer>2</integer>
			<key>area</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>欧美乐队/组合</string>
			<key>sex</key>
			<integer>3</integer>
			<key>area</key>
			<integer>3</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>韩国男歌手</string>
			<key>sex</key>
			<integer>1</integer>
			<key>area</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>韩国女歌手</string>
			<key>sex</key>
			<integer>2</integer>
			<key>area</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>韩国乐队/组合</string>
			<key>sex</key>
			<integer>3</integer>
			<key>area</key>
			<integer>7</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>日本男歌手</string>
			<key>sex</key>
			<integer>1</integer>
			<key>area</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>日本女歌手</string>
			<key>sex</key>
			<integer>2</integer>
			<key>area</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>日本乐队/组合</string>
			<key>sex</key>
			<integer>3</integer>
			<key>area</key>
			<integer>60</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>其他歌手</string>
			<key>sex</key>
			<integer>4</integer>
			<key>area</key>
			<integer>5</integer>
		</dict>
	</array>
</array>
</plist>
